.container__highlights-card {
  width: 300px;
  margin: 15px auto 0 auto;
  position: relative;
  box-shadow: 3px 3px 5px #656565;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: left;
}

.container__highlights-card > h1 {
  color: #fff;
  font-size: 20px;
  padding: 5px;
  width: 100%;

  background-color: #ff0000;
}

.container__highlights-card > .container__highlights-card-news{
  padding: 5px 10px;
}

.container__highlights-card > img {
  width: 100%;
  min-width: 288px;
}

.container__highlights-card-news > a {
  text-decoration: none;
}

.container__highlights-card > .container__highlights-card-news > a > h2 {
  margin: 10px 0;
  font-size: 22px;
  color: #808080;
}

.container__highlights-card > .container__highlights-card-news > a > p {
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 5px;
}

.container__highlights-card > .container__highlights-card-news > a > legend {
  margin-top: 10px;
  color: #6d6d6d;
  font-size: 12px;
}

@media (min-width: 745px) {
  .container__highlights-card {
   width: 100%;
   margin-top: 30px;
  }

  .container__highlights-card > h1 {
    font-size: 27px;
  }

  .container__highlights-card > .container__highlights-card-news > a > h2 {
    font-size: 30px;
  }

  .container__highlights-card > .container__highlights-card-news > a > p {
   font-size: 28px;
  }


}
