.component__nav-bar {
  width: 100%;
  height: 5vh;
  background-color: #ececec;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 1px 7px #606060;
}

.component__nav-bar > .component__nav-bar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;

  font-size: 15px;
  color: #808080;
  font-weight: 500;
}

.component__nav-bar > .component__nav-bar-list > li {
  list-style-type: none;
}

.component__nav-bar > .component__nav-bar-list > li > span:hover {
  transition: .5s;
  color: #ffa600;
}
