.container__content {
  width: 100%;
  height: 100vh;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10px;
}

.container__content > a {
  text-decoration: none;
  color: #808080;
}

.content__cover {
  width: 100%;
  margin-top: 10px;
}

.content__cover > img {
  width: 100%;
  max-height: 300px;
}

.container__content > h1 {
  font-size: 25px;
  margin: 15px 0;
  text-align: center;
}

.content__description{
  text-align: center;
  letter-spacing: 1px;
}

@media (min-width: 745px) {
  .container__content{
    max-width: 900px;
    height: max-content;
    margin: auto;
    padding: 10px;
    text-align: center;

    box-shadow: 1px 1px 10px #468ffd;
  }

  .container__content > .content__cover > img {
    max-width: 400px;

  }

  .container__content > h1 {
    font-size: 30px;
    margin-bottom: 2rem;
  }

  .container__content > .content__description {
    font-size: 25px;
    width: 100%;
    position: relative;
  }
}
