<div class="container__home">
  <div class="container__highlights_articles">
    <app-highlights-card></app-highlights-card>
  </div>
  <div class="container__highlights_others">
    <div class="container__highlights_others_title">
      <h2>Outros destaques</h2>
    </div>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
